<nav class="flex flex-col md:flex-row items-stretch border-b-4 border-brutal-text bg-brutal-bg w-full">
  <a href="/" class="font-bold text-2xl tracking-widest uppercase p-4 md:p-6 border-b-4 md:border-b-0 md:border-r-4 border-brutal-text hover:bg-brutal-text hover:text-brutal-bg transition-colors block text-center md:text-left">
    mlambir.com
  </a>

  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="flex flex-col md:flex-row grow">
    {% for entry in navPages %}
      {% if not entry.hide %}
        <li class="flex grow border-b-4 md:border-b-0 md:border-r-4 border-brutal-text last:border-0 last:md:border-r-0">
          <a
            href="{{ entry.url }}"
            class="uppercase font-bold tracking-widest py-4 px-6 w-full text-center hover:bg-brutal-accent hover:text-white transition-colors flex items-center justify-center
            {% if (entry.url in page.url and entry.url != '/') or (page.url == '/' and entry.url == '/')  %}
              bg-brutal-text text-brutal-bg
            {% else %}
              text-brutal-text
            {% endif %}">
            {{ entry.title }}
          </a>
        </li>
      {%endif%}
    {% endfor %}
  </ul>
</nav>
