<!doctype html>
<html lang="en">
  <head>
    <title>mlambir.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
  </head>
  <body class="bg-brutal-bg text-brutal-text min-h-screen selection:bg-brutal-accent selection:text-white flex flex-col p-4 md:p-8">
    <div class="border-4 border-brutal-text flex flex-col min-h-[calc(100vh-2rem)] md:min-h-[calc(100vh-4rem)] relative max-w-7xl mx-auto w-full">
      {% include "../components/navigation.njk" %}
      <main class="p-6 md:p-12 grow">
        {{ content | safe }}
      </main>
      <div class="h-4 border-t-4 border-brutal-text bg-brutal-accent w-full mt-auto"></div>
    </div>
  </body>
</html>
