---
title: Home
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 0
---

<div class="space-y-8">
  <div>
    <p>I'm Mariano Lambir, a senior software engineer based in Villa la Angostura, Neuquén, Argentina.</p>
    <p>With over 20 years of experience under my belt, I'm all about building robust, scalable systems and delivering high-quality code. I consider myself a pragmatic and collaborative problem-solver.<p>
    <p>My tech toolbox is extensive, but I primarily specialize in using Python, JavaScript/TypeScript, and I also have a deep understanding of systems programming. I've worked across the full spectrum of development, from Backend and Frontend to Data Engineering and System Architecture.</p>
  </div>
</div>
